@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-gradient {
      background: linear-gradient(
        -45deg,
        theme('colors.gray.900'),
        theme('colors.purple.900'),
        theme('colors.violet.950'),
        theme('colors.purple.800')
      );
      background-size: 400% 400%;
    }
  
    .animate-gradient {
      animation: gradient 15s ease infinite;
    }
  
    .particle {
      background: theme('colors.purple.400');
      opacity: 0;
      animation: float linear infinite;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(-100vh) translateX(100px);
      opacity: 0;
    }
  }